@model IEnumerable<LibraryManagement.Models.BookViewModel>

@{
    ViewData["Title"] = "GetBooks";
}

<h2>GetBooks</h2>

<p>
    <a asp-action="AddNewBook">Add Book</a>
</p>
<table class="table table-bordered table-hover table-responsive" style="width:100%" id="bookstable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.bookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>


<script>

    $(document).ready(function () {

        $("#bookstable").DataTable();

    })

</script>

